Repository zengguangzhong/magot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,ts,jsx,tsx}": [
      "eslint --cache --quiet --fix",
      "prettier --write",
      "git add"
    ],
    "*.{css,less}": [
      "stylelint --syntax less --fix",
      "prettier --write",
      "git add"
    ],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}

Update doczrc.js
  doczrc.js
Due: eslint --cache --quiet --fix, prettier --write

Replace prepublish script to prepublishOnly
  package.json
Due: prettier --write

Upgrade the dependencies version
  package.json
  yarn.lock
Due: prettier --write

Update tsconfig.json tsconfig.es.json and tsconfig.lib.json configs
  tsconfig.es.json
  tsconfig.json
  tsconfig.lib.json
Due: prettier --write

Update __DEV__ __DEMOS__ and __ICONS__ globals
  .eslintrc
  demo/index.tsx
  lib.d.ts
Due: eslint --cache --quiet --fix, prettier --write

useBuiltIns polyfill for development mode only
  scripts/babel/webpack.js
Due: eslint --cache --quiet --fix, prettier --write

Move Size Offset AcceptableDate declarations to implements
  lib.d.ts
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/MonthCalendar.tsx
  src/components/Calendar/RangeCalendar.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/Popup/PopupOverlay.tsx
  src/components/component.ts
  src/utils/date.ts
  src/utils/placement.ts
Due: eslint --cache --quiet --fix, prettier --write

Upgrade some dependencies version
  package.json
  yarn.lock
Due: prettier --write

Add ZIndex css property for Popup container component
  src/components/Popup/Popup.less
  src/themes/default/zindex.less
Due: prettier --write, stylelint --syntax less --fix

Add `dyeingRow` optional property for the Calendar component
  src/components/Calendar/Calendar.less
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarCell.tsx
  src/components/Calendar/WeekCalendar.tsx
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

Add size less variables
  src/components/Button/Button.less
  src/components/InputBase/InputBase.less
  src/components/Loading/Loading.less
  src/components/Radio/RadioButton.less
  src/themes/default.less
  src/themes/default/button.less
  src/themes/default/input.less
  src/themes/default/loading.less
  src/themes/default/radio.less
  src/themes/default/size.less
Due: prettier --write, stylelint --syntax less --fix

Add `getShallowTextSize` node utility function
  src/utils/node.ts
Due: eslint --cache --quiet --fix, prettier --write

Implement Avatar component
  TODO.md
  demo/index.less
  src/components/Avatar/Avatar.less
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__test__/Avatar.test.tsx
  src/components/Avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/components/Avatar/avatar.png
  src/components/Avatar/demo.tsx
  src/themes/default.less
  src/themes/default/avatar.less
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

1) Add @typescript-eslint/no-non-null-assertion: warn eslint rule 2) Use non-null assertion for TypeScript declarations
  .eslintrc
  src/components/Avatar/Avatar.tsx
  src/components/Calendar/Calendar.tsx
  src/components/FileButton/FileButton.tsx
  src/components/Toast/Toast.tsx
Due: eslint --cache --quiet --fix, prettier --write

Add @types/node for tsconfig.json
  tsconfig.json
Due: prettier --write

Implement the Badge component
  TODO.md
  demo/index.less
  src/components/Avatar/demo.tsx
  src/components/Badge/Badge.less
  src/components/Badge/Badge.tsx
  src/components/Badge/__test__/Badge.test.tsx
  src/components/Badge/__test__/__snapshots__/Badge.test.tsx.snap
  src/components/Badge/demo.tsx
  src/themes/default.less
  src/themes/default/badge.less
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

Implement the Carousel component
  TODO.md
  demo/index.less
  src/components/Carousel/Carousel.less
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/demo.tsx
  src/components/Carousel/index.ts
  src/themes/default.less
  src/themes/default/carousel.less
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

Add the Carousel component test cases
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/__test__/Carousel.test.tsx
  src/components/Carousel/__test__/__snapshots__/Carousel.test.tsx.snap
Due: eslint --cache --quiet --fix, prettier --write

Implement the Collapse component
  TODO.md
  src/components/Collapse/Collapse.less
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/__test__/Collapse.test.tsx
  src/components/Collapse/__test__/__snapshots__/Collapse.test.tsx.snap
  src/components/Collapse/demo.tsx
  src/components/Collapse/index.ts
  src/themes/default.less
  src/themes/default/collapse.less
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix

Fix linter errors
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/index.ts
Due: eslint --cache --quiet --fix, prettier --write

Implement the Empty component
  TODO.md
  src/components/Empty/Empty.less
  src/components/Empty/Empty.tsx
  src/components/Empty/__test__/Empty.test.tsx
  src/components/Empty/__test__/__snapshots__/Empty.test.tsx.snap
  src/components/Empty/demo.tsx
  src/components/Empty/empty.png
  src/themes/default.less
  src/themes/default/empty.less
Due: eslint --cache --quiet --fix, prettier --write, stylelint --syntax less --fix
